<% include header.html %>
<div class="page-head_agile_info_set">
		<div class="container">
			<h3>About <span>Us </span></h3>

	</div>
</div>
    <!-- added a cooment for line -->
<div class="banner_bottom_agile_info">
	    <div class="container">
			<div class="agile_ab_w3ls_info">
				<div class="col-md-4 ab_pic_w3ls">
				   	<img src="skahunimama.jpg" alt=" " class="img-responsive">
				</div>
				 <div class="col-md-8 ab_pic_w3ls_text_info">
				    <h5>We are your favourite and friendly neighbourhood store.</h5>
					<p>We create and curate stunning designs and print them on all sorts of equally stunning products- from t-shirts to phone covers to backpacks to boxers to really long boxers (aka pajamas) and many, many more! Our products are designed specifically to spread happiness, right down to the bottom of your ‘soul’.</p>
					<p> A recent study by our internal, self-funded (and totally unbiased) research team showed that visiting www.shakoonimama.com makes you so happy it increases your lifespan by 7.5%.</p>
				</div>

			</div>
</div>
<!--<div class="banner_bottom_agile_info team">
	<div class="container">
	            <h3 class="wthree_text_info">Our Team <span>Members</span></h3>
            </div>
          </div>-->
</div>

    <div class="banner_bottom_agile_inf">
      <div class="page-head_agile_info_set_pic">
    	<div class="container">
    	            <h3 class="wthree_text_info">Our <span>Team</span></h3>
                </div>
              </div>
              </div>

							<div class="schedule-bottom">
									<div class="col-md-4 agileinfo_schedule_bottom_left">
										<img src="shirt-sizes.png" alt=" " class="img-responsive" />
									</div>
									<div class="col-md-8 agileits_schedule_bottom_right">
										<div class="w3ls_schedule_bottom_right_grid">
											<h3>Our<span>Testimonals</span></h3>
											<hr>
											<h3><span>T-shirts</span></h3>
											<p>“The Shakunimama and us go back a long way, and they’ve been great buddies throughout. They’ve constantly given us these amazing makeovers - adding pockets, using glow-in-the-dark inks, playing around with our colours, and let people design us as they please! We’ve now become so popular that we’re regularly mobbed in public, and even celebrities cannot seem to get enough of us. Our population is growing at a frantic pace, and we’ll soon accomplish our goal of being present in every house on this planet.”
– Tim the T-shirt</p>

											<div class="clearfix"> </div>
										</div>
									</div>
									<div class="clearfix"> </div>
								</div>
<br>

<% include footer.html %>
