<% include header.html %>
<link href="setcart.css" rel="stylesheet" type="text/css">

<body>
		<!---header--->
		<div class="header">
			<h1>Products In Cart</h1>
		</div>

		<% if (message.length > 0) { %>
		<div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Removed!</strong> <%= message %>
		</div>
		<% } %>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
					<% for(var i = 0; i < foundCart.items.length; i++ ){ %>
					<div class="product-section">
						<% if (foundCart.items[i].item) { %>
						<div class="product-top">
							<div class="product-left">
								<img  src="<%= foundCart.items[i].item.image4 %>" >
							</div>
							<div class="product-right">
								<h2><%= foundCart.items[i].item.Name %></h2>

									<ul class="size">
										<li>  <% var x= foundCart.items[i].size; if(x=='S' && foundCart.items[i].item.Squantity > 0){ %>
						                        <p class="p-size label label-primary"><%= foundCart.items[i].size %></p>
						                        <% }else if(x=='M' && foundCart.items[i].item.Mquantity > 0){ %>
						                          <p class="p-size label label-primary"><%= foundCart.items[i].size %></p>
						                          <% }else if(x=='L' && foundCart.items[i].item.Lquantity > 0){ %>
						                            <p class="p-size label label-primary"><%= foundCart.items[i].size %></p>
						                            <% }else if(x=='XL' && foundCart.items[i].item.XLquantity > 0){ %>
						                              <p class="p-size label label-primary"><%= foundCart.items[i].size %></p>
						                              <% } %></li>
										<li>Qty: <%= foundCart.items[i].quantity %></li>
									</ul>
							</div>
						</div>
						<div class="product-middle">
							<select class="sel">
								<option value="">1</option>
								<option value="">2</option>
								<option value="">3</option>
								<option value="">4</option>
								<option value="">5</option>
							</select>
						</div>
						<div class="product-right1">
							<p>RsRs.<%= foundCart.items[i].price %><p>
							<div class="close"> </div>
						</div>
						<div class="clear"></div>
						<% } %>
					</div>
			<% } %>
					<div class="product-bottom">
						<h3>Total: <span>Rs.<%= foundCart.total %></h3>
						<a href="#">Checkout</a>
						<div class="clear">
					</div>
				</div>
			</div>
		</div>
			<div class="footer">
		</div>



		<!---main--->
</body>



<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.product-section').fadeOut('slow', function(c){
	  		$('.product-section').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.close1').on('click', function(c){
		$('.product1').fadeOut('slow', function(c){
	  		$('.product1').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.close2').on('click', function(c){
		$('.product2').fadeOut('slow', function(c){
	  		$('.product2').remove();
		});
	});
});
</script>
