<% include header.html %>
<link href="setcart.css" type="text/css" rel="stylesheet">

<body>
		<!---header--->
		<div class="header">
			<h1>Products In Cart</h1>
		</div>

		<% if (message.length > 0) { %>
		<div class="alert alert-success alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <strong>Removed!</strong> <%= message %>
		</div>
		<% } %>
		<!---header--->
		<!---main--->
			<div class="main">
				<div class="main-section">
					<% for(var i = 0; i < foundCart.items.length; i++ ){ %>
					<div class="product-section">
						<% if (foundCart.items[i].item) { %>

						<div class="product-top">
							<div class="product-left">
								<img  src="<%= foundCart.items[i].item.image4 %>" >
							</div>
							<div class="product-right">
								<h2><%= foundCart.items[i].item.Name %></h2>

									<ul class="size">
										<li>  <% var x= foundCart.items[i].size; if(x=='S' && foundCart.items[i].item.Squantity > 0){ %>
						                        <p class="p-size1 label label-success"><%= foundCart.items[i].size %></p>
						                        <% }else if(x=='M' && foundCart.items[i].item.Mquantity > 0){ %>
						                          <p class="p-size1 label label-success"><%= foundCart.items[i].size %></p>
						                          <% }else if(x=='L' && foundCart.items[i].item.Lquantity > 0){ %>
						                            <p class="p-size1 label label-success"><%= foundCart.items[i].size %></p>
						                            <% }else if(x=='XL' && foundCart.items[i].item.XLquantity > 0){ %>
						                              <p class="p-size1 label label-success"><%= foundCart.items[i].size %></p>
						                              <% } %></li>
										<li>Qty: <%= foundCart.items[i].quantity %></li>
									</ul>
							</div>

						</div>

					<div class="product-middle">

							<div class="checkout-remove btn-lg">
							<form action="/remove" method="post">
									<input type="hidden" name="item" value="<%= foundCart.items[i].id %>">
									<input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
							<!--<button type="submit">Remove</button>-->
							<a href="javascript:void(0)" class="remove">Remove</a>

						</form>
						</div>
						</div>
						<div class="product-right1">
							<p>Rs.<%= foundCart.items[i].price %><p>
							<div class="close"> </div>
						</div>
						<div class="clear"></div>
						<% }else{ %>
							<div class="product-top">
			        <h3>Item Discontinued!!! Please Remove it  </h3>
						</div>
							<div class="product-middle">

									<div class="checkout-remove btn-lg">
									<form action="/remove" method="post">
											<input type="hidden" name="item" value="<%= foundCart.items[i].id %>">
											<input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
									<!--<button type="submit">Remove</button>-->
									<a href="javascript:void(0)" class="remove">Remove</a>

								</form>
								</div>
								</div>

							<div class="product-right1">
								<p>Rs.<%= foundCart.items[i].price %><p>
								<div class="close"> </div>
							</div>
			        <% } %>
					</div>

					<% } %>
					<div class="product-bottom">
						<h3>Total: <span>Rs.<%= foundCart.total %></h3>
							<div class="checkout-btn">
					      <% if(foundCart.items.length>0){ %>


					  <div class="checkout-btn">
					    <a href="/checkout">Checkout</a>
					  </div>


					    <% }else{ %>
					    <div class="clear"> Nothing in CART!! Lets's go SHOPPING!!</div>
					      <% } %>
					</div>
			</div>
		</div>
			<div class="footer">
		</div>



		<!---main--->
</body>


<script>
$(document).ready(function(){
	 $(document).on("click",".remove",function(){
		 var form = $(this).closest("form");
		 //console.log(form);
		 form.submit();
	 });
});

$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.product-section').fadeOut('slow', function(c){
	  		$('.product-section').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.close1').on('click', function(c){
		$('.product1').fadeOut('slow', function(c){
	  		$('.product1').remove();
		});
	});
});
</script>
<script>$(document).ready(function(c) {
	$('.close2').on('click', function(c){
		$('.product2').fadeOut('slow', function(c){
	  		$('.product2').remove();
		});
	});
});
</script>
