<% include header.html %>


        <div class="page-head_agile_info">
		<div class="container">
			<h3>C<span>ontact Us </span></h3>

	</div>
</div>
           <div class="banner_bottom_agile_info">
	<div class="container">
	   <div class="agile-contact-grids">
				<div class="agile-contact-left">
					<div class="col-md-6 address-grid">
						<h4>For Bulk <span>Orders</span></h4>
							<!--<div class="mail-agileits-w3layouts">
								<i class="fa fa-phone" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Phone Number</p><span>+91 8950745221/ +91 8627000279</span>
								</div>
								<div class="clearfix"> </div>
							</div>-->
							<div class="mail-agileits-w3layouts">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<div class="contact-right">
                                    <p>Mail Us At:</p><span>official.shakoonimama@gmail.com</span>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="mail-agileits-w3layouts">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								<div class="contact-right">
									<p>Find Us At:</p><span>#6175, Modern Housing Complex, Manimajra, Chandigarh</span>
								</div>
								<div class="clearfix"> </div>
							</div>

					</div>
					<div class="col-md-6 contact-form">
						<h4 class="white-w3ls">Contact <span>Us</span></h4>
						<form action="/connect" method="post">
							<div class="styled-input agile-styled-input-top">
								<input type="text" name="Name" required>
								<label>Name</label>
								<span></span>
							</div>
							<div class="styled-input">
								<input type="email" name="Email" required>
								<label>Email</label>
								<span></span>
							</div>
							<div class="styled-input">
								<textarea name="Message" required></textarea>
								<label>Message</label>
								<span></span>
							</div>
							<input type="submit" value="Send">
						</form>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
       </div>
	</div>

        <div class="contact-w3-agile1 map" data-aos="flip-right">


		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13720.313761936592!2d76.82733868908703!3d30.71619515628522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f9336deaf2f31%3A0xfa3b3efffac9342d!2sManimajra%2C+Chandigarh!5e0!3m2!1sen!2sin!4v1531384194584" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>
	   </div>

     <% include footer.html %>
