<% include header.html %>

<div class="container">

      <div class="col-md-12">

          <ul class="breadcrumb">
              <li>Home
              </li>
              <li>Page not found</li>
          </ul>


          <div class="row" id="error-page">
              <div class="col-md-6 col-md-offset-3">
                  <div class="box">

                      <p class="text-center">
                          <img src="error1.jpg" alt="error">
                      </p>

                      <h3 class="error-h3">Oops, Something went wrong</h3>

                      <h4 class="text-muted error-h4">Error 404 - Page not found</h4>
                      <br>
                      <p class="text-center">To continue please use the <strong>above</strong> menu.</p>
                      <br>
                      <p class="buttons error-btn"><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
                      </p>
                  </div>
              </div>
          </div>


      </div>

  </div>
  <% include footer.html %>
