<% include header.html %>
        <!--2. slide show -->
    <div class="contain">


  <div id="myslideshow" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
      <li data-target="#myslideshow" data-slide-to="0" class="active"></li>
      <li data-target="#myslideshow" data-slide-to="1"></li>
      <li data-target="#myslideshow" data-slide-to="2"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="item active bb-grids bb-left-agileits-w3layouts">
             <div class="bb-left-agileits-w3layouts-inner grid">
              <figure class="effect-roxy">
        <img src="slide2.jpg" alt="picture 1" style="width:114%;">
        <figcaption>
          <h3><span><span></h3>
          <!-- <p>Dont just go by our brand name, but give us a chance to prove out sincerity to you :)</p> -->
        </figcaption>

      </figure>

      </div>
    </div>
  </div>
    <!--  <div class="i        tem active bb-grids bb-left-agileits-w3layouts">
  			   <div class="bb-left-agileits-w3layouts-inner grid">
  					<figure class="effect-roxy">
              <img src="slide2.jpg" alt="picture 1" style="width:100%;">
              <figcaption>
								<h3><span>For</span>Huns </h3>
								<p>Boley to bindass</p>
							</figcaption>

</figure>
</div>
</div>-->
        <!--<div class="item">
        <img src="slide2.jpg" alt="picture 2" style="width:100%;">
      </div>

      <div class="item">
        <img src="slide3.jpg" alt="picture 3" style="width:100%;">
      </div>
    </div>-->
    <div class="item bb-grids bb-left-agileits-w3layouts">
         <div class="bb-left-agileits-w3layouts-inner grid">
          <figure class="effect-roxy">
            <img src="slide1.jpg" alt="picture 1" style="width:114%;">
            <figcaption>
              <h3><span><span></h3>
              <p>Dont just go by our brand name, but give us a chance to prove out sincerity to you :)</p>
            </figcaption>

</figure>
</div>
</div>
<div class="item  bb-grids bb-left-agileits-w3layouts">
     <div class="bb-left-agileits-w3layouts-inner grid">
      <figure class="effect-roxy">
        <img src="slide3.jpg" alt="picture 1" style="width:114%;">
        <figcaption>
          <h3><span></span></h3>
          <p>Dont just go by our brand name, but give us a chance to prove out sincerity to you</p>
        </figcaption>

</figure>
</div>
</div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myslideshow" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myslideshow" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

         </div>

    <!-- end of the sild show-->
        <!--<div id="advantages">

                <div class="container">
                    <div class="same-height-row h2-adjust">
                        <div class="col-md-6">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-heart"></i>
                                </div>

                                <h3><a href="#"><strong>We love our customers</strong></a></h3>
                                <p class="p-change">We are known to provide best possible service ever</p>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div>

                                <h3><a href="#"><strong>100% satisfaction guaranteed</strong></a></h3>
                                <p class="p-change"> Return on everything within 10days.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                <!--</div>

            </div>-->



                    <br>
                    <div class="container">
                        <div class="col-md-12">
                            <h3 class="wthree_text_info">Perks <span>of Bonding</span></h3>
                        </div>
                    </div>

<!-----new tshirt         -->

    <div class="container">


    <div class="schedule-bottom"><!--background color set-->
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="new_hunks.jpg" alt="" class="img-responsive" />
		</div>
		<div class="col-md-6 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid">
				<h3><span>COMING</span> Sooooon...</h3>
			<p>We are working our brains out with our team to deliver you the best of products at best possible rates.</p><!--
        Let us show the world that what we sell is totally worth for you spending your blood money in it. Also, if you are one of our precious business starters, you deserve to get a funky gift.</p>
-->
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
    </div>

    <br>
     <div class="col-md-12">
                            <h3 class="wthree_text_info">What's <span>Trending</span></h3>
                        </div>


    <div class="container">

    <div class="col-md-4 col-md-offset-2 bb-grids bb-left-agileits-w3layouts">
			<a>
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
                        <a href="/women"><img src="for_huns.jpg" alt="women" class="img-responsive" style="height:auto;">

							<figcaption>
								<h3><span>For</span>Feminine </h3>
								<p>Style is a way to say who you are without having to speak</p>
							</figcaption>
            </a>
						</figure>
			    </div>
			</a>
		</div>
    <div class="col-md-4 col-md-offset-1 bb-grids bb-left-agileits-w3layouts">
			<a>
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
                        <a href="men">	<img src="for_hunks.jpg" alt=" " class="img-responsive" style="height:auto;">
							<figcaption>
								<h3><span>For</span>Hunks </h3>
								<p>Fashion is like eating, you shouldn't stick to the same menu</p>
							</figcaption>
                        </a>
						</figure>
			    </div>
			</a>
		</div>
        </div>


  <br>
         <div class="col-md-12">
                            <h3 class="wthree_text_info">Offers <span> </span></h3>

                        </div>

                <div class="container">
         <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
			<a>	<img src="f_boy.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a><img src="f_girl.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>
        </div>

    <br>
    <div id="advantages">

              <div class="container">
                  <div class="same-height-row h2-adjust">
                      <div class="col-md-6">
                          <div class="box same-height clickable">
                              <div class="icon"><i class="fa fa-user"></i>
                              </div>

                              <h3 class="h-change"><a href="#"><strong>Customer is the new GOD of this generation</strong></a></h3>
                              <p class="p-change">Serving a god that gives us a job to serve mankind will always be respected here.</p>
                          </div>
                      </div>



                      <div class="col-md-6">
                          <div class="box same-height clickable">
                              <div class="icon"><i class="fa fa-female"></i>
                              </div>

                              <h3 class="h-change"><a href="#"><strong>Fashion was never Just Clothing</strong></a></h3>
                              <p class="p-change"> “Fashion has to reflect who you are, what you feel at the moment, and where you’re going.” — Pharrell Williams</p>
                          </div>
                      </div>
                  </div>
                  <!-- /.row -->

              </div>

          </div>


              <div class="col-md-12">
                            <h3 class="wthree_text_info">Personalize <span>Your Experience </span></h3>

                        </div>
        <div class="container">
            <div class="col-md-8">
                <img src="c_pic.jpg" class="img-responsive bg">
            </div>
            <div class="col-md-4">

                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3 class="set1">Wanna boast off UNIQUENESS ?</h3>
                        </div>
                        <!-- <p class="set2"> Fashion is about beauty, style and innovation, so it would seem like a natural fit for online marketing. But, fashion brands know driving a customer base is about more than just putting up pretty pictures.</p> -->
                        <p class="set2">Send us the attire that will make you live in your own style to stand different in this common crowd. Your uniqueness deserves to be showcased, for which we will gift it to you for free.</p>



                </div>
        </div>
        </div>



    <% include footer.html %>
