<!doctype html>
<html>
    <head>
        <title>Shakooni MAMA</title>

        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>

          <link href="style.default_women.css" rel="stylesheet" id="theme-stylesheet">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="front_main.css" type="text/css" />
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
          <link href="style.default_front.css" rel="stylesheet" id="theme-stylesheet">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
          <!--//tags -->

         <link href="style.css" rel="stylesheet" type="text/css" media="all" />
          <link href="easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
          <link rel="stylesheet" href="flexslider.css" type="text/css" media="screen">
            <link rel="stylesheet" href="women_main.css" type="text/css">

           <!--<link rel="stylesheet" href="style_cart.css" type="text/css">-->
           <link rel="stylesheet" href="view_set.css" type="text/css">
           <link rel="stylesheet" href="style.contactus.css" type="text/css" media="all">
           <link rel="stylesheet" href="style.aboutus.css" type="text/css" media="all">


    </head>

    <body >

    <!----top header-->
    <div class="header" id="home">
	<div class="container">
		<ul>
      <% if (user) { %>
         <li> <a href="#" data-toggle="modal" data-target="#login-modal"><i class="	fa fa-user" aria-hidden="true" ></i> Welcome : <%=  user.firstname %> <%=user.lastname %>  </a></li>
         <li> <form action="/logout" method="post">
            <!--<input type="submit" value="Logout-->
            <a href="javascript:void(0)" class="logout"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a>
          </form>
          </li>
          <li><a href="/profile"  aria-hidden="true"><i class="fa fa-pencil" aria-hidden="true"></i>My Profile</a></li>
      <%} else{ %>
		    <li> <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-unlock-alt" aria-hidden="true" ></i> Sign In </a></li>
      <li> <a href="signup"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
      <li><i class="fa fa-phone" aria-hidden="true"></i> Call :+91-8950745221</li>
      <%}%>

			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">shakunimama@gmail.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
        <div class="col-md-9 logo_agile">
                <h1><a><span>S</span>hakooni <span>M</span>ama </a></h1>
			  </div>
		<div class="col-md-3 header-middle">
			<form action="#" method="post">
					<input type="search" name="search" placeholder="Search here..." required="">
                <input type="submit" value=" ">
				<div class="clearfix"></div>
			</form>
		</div>
		<!-- header-bot -->


		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="/">Home <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" href="/aboutus">About</a></li>
					<li class="dropdown menu__item">
						<a href="men" class="dropdown-toggle menu__link"  aria-haspopup="true" aria-expanded="false">Men's wear</a>

					</li>
					<li class="dropdown menu__item">
						<a href="women" class="dropdown-toggle menu__link" aria-haspopup="true" aria-expanded="false">Women's wear</a>

					</li>

					<li class=" menu__item"><a href="/contact_us"class="menu__link">Contact</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2">
						<form action="/cart" method="get" class="last">
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart cart-set1" type="submit" name="submit" value=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
					</form>

						</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


<!----------login start----------------------------------------------------->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
									<form action="/login" method="post">
                     <div class="form-group">
                        <input type="text" class="form-control" id="email-modal" name="username" placeholder="email">
                     </div>
                     <div class="form-group">
                        <input type="password" class="form-control" id="password-modal" name="password" placeholder="password">
                     </div>
                     <p class="text-center">
                        <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                     </p>
                  </form>

														<div class="clearfix"></div>
														<p><a href="signup" > Don't have an account?</a></p>

						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<img src="r5.jpg" alt=" "/>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
		</div>

    <script>

    $(document).ready(function(){
       $(document).on("click",".logout",function(){
         var form = $(this).closest("form");
         //console.log(form);
         form.submit();
       });
    });
    </script>


        <!----------------------------------------login done--------------------------->
