<% include header.html %>
<link href="men_main.css" type="text/css">


        <div>
        <img src="as.png" class="image-slider img-responsive">
        </div>
        <br>
         <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a>Home</a>
                        </li>
                        <li>Men</li>
                    </ul>
                </div>
                <div class="col-md-3">
                   <!-- side menu
 _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <li >
                                    <a class="myactive">Men <span class="badge pull-right"></span></a>
                                    <ul>
                                        <li><a>T-shirts</a>
                                        </li>


                                    </ul>
                                </li>
                                <li >
                                    <a href="category" class="h1-mycolor">Women<span class="badge pull-right"></span></a>
                                    <ul>
                                        <li><a>T-shirts</a>
                                        </li>


                                    </ul>
                                </li>


                            </ul>

                        </div>
                    </div>

                     <div class="banner">

                            <img src="bar.jpg" alt="sales 2014" class="img-responsive">

                    </div>
                </div>

                <!-- end of side bar-->
                <div class="col-md-9">
                     <div class="box info-bar">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 products-showing">
                                Showing <strong>1</strong> of <strong>10</strong> products
                            </div>
                             <div class="col-sm-12 col-md-8  products-number-sort">
                                <div class="row">
                                    <form class="form-inline">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="products-number">
                                                  <a href="#" class="btn btn-color btn-sm ">1</a>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>






                  <div class="row products">

                			<%
                        for (var i = 0; i < data.length; i++) {
                        if(data[i].Group=="men"){
                        %>
                        <div class="tab1">
                			<div class="col-md-6 col-sm-6">
                        <div class="product">
                        <div class="men-pro-item simpleCart_shelfItem">
                          <div class="men-thumb-item">
                            <img src="<%= data[i].image1 %>" alt="" class="pro-image-front img-responsive">
                            <img src="<%= data[i].image2 %>" alt="" class="pro-image-back img-responsive">
                              <!--<div class="men-cart-pro">
                                <form action="/view" method="post">
                                <div class="inner-men-cart-pro">
                                  <input id="prodId" name="prodId" type="hidden" value="<%= data[i]._id %>">
                                  <input value="view details" name="view" type="submit" class="link-product-add-cart">
                                </div>
                              </form>
                            </div>-->
                              <span class="product-new-top">New</span>

                          </div>
                          <div class="item-info-product ">
                            <h4><%= data[i].Name %></h4>
                            <div class="info-product-price">
                              <span class="item_price">₹<%= data[i].SellingPrice %></span>
                              <del>Rs599</del>
                            </div>

                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                      <form action="/view" method="post">
                                        <fieldset>
                                          <input id="prodId" name="prodId" type="hidden" value="<%= data[i]._id %>">
                                          <input id="prodId" name="priceValue" type="hidden" value="<%= data[i].SellingPrice %>">
                                          <input id="prodId" name="quantity" type="hidden" value="1">
                                          <!--<input type="submit" class="btn btn-color btn-block" name="addToCart" value="Add to cart"<i class="fa fa-shopping-cart"></i>-->
                                          <% if(data[i].Quantity>0) { %>
                                          <input type="submit" name="submit" value="Buy Now" class="button">
                                          <% }else{ %>
                                            <div class="snipcart-details_stock top_brand_home_details item_add single-item hvr-outline-out button2">
                                          <input type="button" name="out" onclick="alert('THE ITEM IS OUT OF STOCK!! WILL BE BACK SOON!!')" value="!! OUT OF STOCK !!" class="button">
                                        </div>
                                            <% } %>
                                        </fieldset>
                                      </form>
                                    </div>

                          </div>

                        </div>

                      </div>


                    </div>
                  </div>
<% } }%>
</div>
</div>

</div>



<% include footer.html %>
