<% include header.html %>
<div class="container">
<div class="col-md-12">
  <h1 class="h2-termset">RETURN AND EXCHANGE CANCELLATION POLICY</h1>
</div>
</div>
<div class="container">

                   <div class="box" id="text-page">
                       <h1 class="h1-termset">How do I return/ exchange my products?</h1>


  <br>


<ul>
<li>Customers can exchange/ return their order within 7 days after the order has been delivered.</li>
<li>All returned items must be in unused condition with all original tags and packaging intact and untampered.</li>
<!-- <li>You can only apply for a Return/ Exchange from your Shakoonimama account. Login to your account and go to ‘My Orders’ section. Click on ‘View/ Edit Order Details’ for the respective order. Then, choose the Return/ Exchange option, select the product(s), pick the reason, click Confirm. A pop-up will open with our Return/ Exchange policy. Click Return/ Exchange to initiate the process. You will also receive an email confirmation from us as well.</li> -->
<li>Return/ Exchange Policy: As we do not have a reverse pickup facility yet, you are requested to ship the product(s) back to us. Please pack the items securely to prevent any loss or damage during transit. A maximum of Rs. 100 will be refunded to you for this in the form of original payment meothod which you can use for future orders. In case of COD option, you are requested to update your Bank Account details to your profile in which you wish to receive the refund amount.</li>
<li>You can courier the product(s) to the address mentioned below:

Shakoonimama
#6175, Modern Housing Complex,
Manimajra,
Chandigarh - 160101</li>
<li>Please make sure your courier costs do not exceed the amount stipulated above. We recommend using ‘Speed Post’ as your courier service. Speed Post is a government of India owned entity and has the most widely distributed postal network in India. Please avoid Professional Couriers as much as possible since we have been facing issues with them.</li>
<li>Once we have received the products and our internal quality check has been carried out, the product amount will be credited back to your original payment method. Refund of shipping and COD charges is not applicable.</li>
<li>International orders are not eligible for return/ exchange unless an incorrect product has been delivered.</li>
<li>Defective products need not be sent back to us, unless confirmed by the Customer Care team. If you have received a defective product, send us images at support.shakoonimama@gmail.com and we will revert back to you.</li>
<li>Revert regarding any query generally takes 3 working days, and if required then, one of our customer care executive will contact you shortly on your registered mobile number.</li>
</ul>
<br>


<!--<h3></h3>
<blockquote>
  <p></p>
</blockquote>
<h3></h3>
<blockquote>
  <p></p>
</blockquote>-->



                       <hr>





                   </div>


               </div>



<% include footer.html %>
