<% include header.html %>
<div class="container">
<div class="col-md-12">
  <h1 class="h2-termset">Terms & Conditions</h1>
</div>
</div>
<div class="container">

                   <div class="box" id="text-page">
                       <h1 class="h1-termset">Introduction</h1>


  <p>
Access to and use of Shakoonimama.com and the products and service available through the website are subject to the following terms, conditions and notices ( “Terms of Service”). By browsing through these Terms of Service and using the services provided by our website ( www.shakoonimama.com), you agree to all Terms of Service along with the Privacy Policy on our website, which may be updated by us from time to time. Please check this page regularly to take notice of any changes we may have made to the Terms of Service. We reserve the right to review and withdraw or amend the services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or this entire Website.
  </p>
  <br>
  <p>
  The domain name www.Shakoonimama.com is a site operated by Shakoonimama, a company incorporated under laws of India with our registered office at <strong> #6175, M.H.C, Manimajra, Chandigarh - 160101</strong> ( “Company”).
</p>
<br>
<h3>Services</h3>
<blockquote>
<p>Shakoonimama is an online retailer of apparel and lifestyle products offered at great values to the consumer. Membership allows customers to purchase a variety of products. Upon placing an order, Shakoonimama.com shall ship the product to you and be entitle to its payment for the service.</p>
</blockquote>
<br>
<h3>Exactness of the Product</h3>
 <blockquote>
   <p>The images of the items on the website are for illustrative purposes only. Although we have made every effort to display the colours accurately, we cannot guarantee that your computer's display of the colours accurately reflect the colour of the items. Your items may vary slightly from those images. All sizes and measurements of items are approximate; however we do make every effort to ensure they are accurate as possible. We take all reasonable care to ensure that all details, descriptions and prices of items are as accurate as possible.</p>
</blockquote>
<h3>Pricing</h3>
<blockquote>
  <p>We ensure that all details of prices appearing on the website are accurate, however errors may occur. If we discover an error in the price of any goods which you have ordered, we will inform you of this as soon as possible. If we are unable to contact you, then we will treat the order as cancelled. If you cancel and you have already paid for the goods, you will receive a full refund. </p>
  <br>
  <p>Additionally, prices for items may change from time to time without notice. However, these changes will not affect orders that have already been dispatched. The price of an item includes GST (or similar sales tax) at the prevailing rate for which we are responsible as a seller. Please note that the prices listed on the website are only applicable for items purchased on the website and not through any other source.</p>
</blockquote>



<!--<h3></h3>
<blockquote>
  <p></p>
</blockquote>
<h3></h3>
<blockquote>
  <p></p>
</blockquote>-->



                       <hr>





                   </div>


               </div>



<% include footer.html %>
