@media (max-width: 2000px){
.eye-set
{
    width:25%;
}
.eye-text
{
  border-radius: 10px;

}
}
@media (max-width: 380px){
  .eye-set
  {
      width:0%;
  }

}
@media (max-width: 460px){
  .eye-set
  {
      width:0%;
  }


}
/*@media (max-width: 1024px){
.top_nav_right {
  float: right;
  width: 10%;
  margin-bottom:15em;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
}
*/

@media (max-width: 320px ){
  .modal_body_right.modal_body_right1 {
    padding: 0;
    float: right;
    width: 0%;
  }
  .modal_body_right.modal_body_right1 img {
    width: 0%;
  }
}
@media (max-width: 360px){
  .modal_body_right.modal_body_right1 {
    padding: 0;
    float: right;
    width: 0%;
  }
  .modal_body_right.modal_body_right1 img {
    width: 0%;
  }
}
